#newsletter-container .action-button {
    padding: 15px 25px;
    background-color: #333 !important;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 20 !important;
}

#newsletter-container .action-button:hover {
    background-color: #555;
}

#newsletter-container .action-button:active {
    transform: scale(0.95);
}

.hidden-input h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hidden-input input[type="email"] {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
}

.hidden-input button {
    padding: 15px 25px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.hidden-input button:hover {
    background-color: #555;
}

.hidden-input button:active {
    transform: scale(0.95);
}

@media (max-width: 768px) {
    #newsletter-container .action-button {
        padding: 10px 20px; /* Scale down padding */
        font-size: 14px; /* Scale down font size */
        transition: padding 0.4s ease, font-size 0.4s ease; /* Smooth scaling */
    }

    .hidden-input h2 {
        font-size: 2em; /* Scale down heading size */
        transition: font-size 0.4s ease; /* Smooth resizing */
    }

    .hidden-input input[type="email"] {
        width: 90%; /* Adjust width for smaller screens */
        padding: 10px; /* Reduce padding */
        font-size: 16px; /* Scale down font size */
        margin-bottom: 0;
        transition: width 0.4s ease, padding 0.4s ease, font-size 0.4s ease; /* Smooth resizing */
    }

    .hidden-input button {
        margin-top: 0;
        padding: 10px 0; /* Reduce button padding */
        font-size: 14px; /* Scale down font size */
        transition: padding 0.4s ease, font-size 0.4s ease; /* Smooth scaling */
    }
}