<header class="header">
  <div class="menu-lines">
    <a href="#menu" onclick="toggleMenu()">
      <img src="../../templates/images_templates/menylines.webp" alt="Menu" class="icon" />
    </a>
  </div>
  <div class="logo">
    <a href="../../pages/home_page/" class="logo-link">
      <!--<img src="images/true_logo.webp" alt="Logo Icon" class="logo-icon" />-->
      <h1>EasyAirFlow</h1>
    </a>
  </div>
  <div class="icons">
    <a href="#search">
      <img src="../../templates/images_templates/searchicon.png" alt="Search" class="icon" />
    </a>
    <a href="#profile">
      <img src="../../templates/images_templates/profileicon.webp" alt="Profile" class="icon" />
    </a>
    <a id="cart-icon"> <!-- quick and dirty because of css.....-->
      <img src="../../templates/images_templates/shoppingcart.png" alt="Cart" class="icon" />
    </a>
  </div>
</header>

<!-- Welcome Box -->
<div class="welcome-box">
  <p>Welcome to our store</p>
</div>

<nav id="side-menu" class="side-menu">
  <button class="close-btn" onclick="toggleMenu()">&times;</button>
  <ul>
    <li><a href="../../pages/home_page/">Home</a></li>
    <li><a href="../../pages/product_page/">Products</a></li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#about">About Us</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>